/* placeholder */
body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 22px;
    right: 0;
    border: 0;
    padding: 0;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
}

#templates {
    display: none;
}

a, a:link, a:hover, a:active, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

span.liner {
    display: flex;
    align-items: center;
}

#waiting-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 22px;
    background-color: #1E1E1E;
    z-index: 3;
}

#wrapper, #info-header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1E1E1E;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

#info-header {
    top: 0;
    height: 64px;
    padding: 4px 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
}

#wrapper {
    top: 64px;
    bottom: 22px;
}

#statusbar {
    position: fixed;
    width: 100%;
    height: 22px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    font-size: 14px;
}

#statusbar.ready,
#tab-panel .tabs-tab.active {
    background-color: #007ACD;
}

#statusbar.waiting {
    background-color: #67217A;
}

#statusbar.onsortie,
#tab-panel.onsortie .tabs-tab.active,
.box-header.onsortie {
    background-color: #CA5100;
}

#left-block {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

#right-block-a,
#right-block-b,
#right-block-c {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

#right-block-a {
    flex: 0 0 48px;
}

#right-block-b {
    flex: 0 0 128px;
}

#admiral-info-left,
#admiral-info-right {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

#admiral-info-left {
    margin-right: 16px;
}

#admiral-info-right {
    justify-content: center;
    flex: 0 0 128px;
}

#admiral-nameplate {
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.hq-small {
    height: 25%;
    font-size: 12px;
    color: #AAAAAA;
}

#admiral-name {
    margin-right: 8px;
    font-size: 24px;
    vertical-align: middle;
}

#admiral-rank {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 11px;
    color: #CCCCCC;
}

#admiral-comment {
    height: 25%;
    font-size: 12px;
    color: #AAAAAA;
}

#admiral-hq {
    width: 100%;
}

#hq-lv-xp td {
    width: 50%;
}

#hq-xp,
#shipgirls-max,
#equip-max,
.box-header-text {
    font-size: 11px;
    color: #AAAAAA;
    text-align: right;
}

#hq-xp, #admiral-level {
    vertical-align: text-bottom;
}

#xpbar {
    background-color: #424242;
    min-width: 150px;
    max-width: 100%;
    height: 6px;
    overflow: hidden;
}

#xpbar-fg {
    background-color: #AAAAAA;
    width: 50%;
    height: 6px;
    z-index: 3;
    float: left;
}

table#resources-a,
table#girls-equip {
    height: 100%;
}

table#resources-a td,
table#girls-equip td {
    vertical-align: middle;
}

table#resources-a td.icon,
table#girls-equip td.icon {
    height: 16px;
    width: 16px;
    text-align: center;
}

table#resources-a td[id$="-amount"],
table#girls-equip td[id$="-amount"] {
    padding-left: 4px;
    padding-right: 8px;
}

table#resources-a img,
table#girls-equip img {
    height: 16px;
}

table#buttons td {
    vertical-align: middle;
    text-align: center;
    height: 100%;
    padding: 3px;
}

table#buttons td img {
    width: 48px;
    height: 48px;
}

.panel-content {
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    display: flex;
    top: 64px;
    bottom: 22px;
    left: 128px;
    right: 0;
    position: fixed;
}

.panel-content > .tile-box {
    margin: 8px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    background-color: #222222;
}

.box-header {
    min-height: 18px;
    max-height: 18px;
    background-color: #2D2D2D;
    text-transform: uppercase;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    position: sticky;
    padding-left: 8px;
}

#tab-panel {
    top: 64px;
    bottom: 22px;
    width: 128px;
    background-color: #333333;
    position: fixed;
    overflow: hidden auto;
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
}

#tab-panel::-webkit-scrollbar {
    width: 5px;
}

#tab-panel::-webkit-scrollbar-thumb {
    background: #424242; 
}

.tabs-tab,
#btn-stratroom {
    width: 128px;
    min-width: 128px;
    height: 36px;
    max-height: 36px;
    display: table;
    background-color: #333333;
    cursor: pointer;
    margin: 0;
    font-size: 14px;
}

.tabs-tab:not(.active):hover,
#btn-stratroom:hover {
    filter: brightness(1.25);
}

.spacer {
    min-height: 0;
    max-height: 100%;
    flex: 15 15 48px;
}

.tabs-tab span,
#btn-stratroom > div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
}

#btn-stratroom > div {
    text-transform: uppercase;
    font-size: 12px;
    color: #AAAAAA;
}

#btn-stratroom img {
    width: 16px;
    height: 16px;
}

table#status {
    vertical-align: middle;
    border: 0;
    height: 100%;
    width: 100%;
}

table#status tr td {
    padding-left: 8px;
}

.shipbox {
    max-height: 48px;
    min-height: 48px;
    min-width: 325px;
    width: 100%;
    display: flex;
    padding: 0px 8px;
    margin: 4px 0px;
}

.shipbox .shipicon {
    max-width: 48px;
    min-width: 48px;
    max-height: 48px;
    min-height: 48px;
    float: left;
}

.shipbox .shipicon img {
    width: 48px;
    height: 48px;
}

.ship-nameplate {
    display: flex;
    align-items: center;
    margin-left: 4px;
    width: 100%;
}

.shipclass {
    text-transform: uppercase;
    padding: 2px 4px;
    height: 10px;
    width: 30px;
    text-align: center;
    background-color: #424242;
    color: #CCCCCC;
    font-size: 12px;
    margin-left: 8px;
    display: table;
    float: left;
}

.shipname {
    font-size: 22px;
    margin-left: 4px;
    width: 100%;
}

.shipcondition {
    float: right;
    display: flex;
    align-items: center;
}

.moraledot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
}

.moraledot.morale-great {
    background-color: #FFEE00;
}

.moraledot.morale-good {
    background-color: #FFF89D;
}

.moraledot.morale-normal {
    background-color: #FFFFFF;
}

.moraledot.morale-bad {
    background-color: #FFAB73;
}

.moraledot.morale-verybad {
    background-color: #FF4747;
}

.moralevalue {
    font-size: 14px;
    color: #CCCCCC;
}