/* placeholder */
body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 22px;
    right: 0;
    border: 0;
    padding: 0;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    background-color: #1E1E1E;
}

#templates {
    display: none;
}

a, a:link, a:hover, a:active, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

span.liner {
    display: flex;
    align-items: center;
}

#waiting-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 22px;
    background-color: #1E1E1E;
    z-index: 3;
}

#wrapper, #info-header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1E1E1E;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

#info-header {
    top: 0;
    height: 64px;
    padding: 4px 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
}

#wrapper {
    top: 64px;
    bottom: 22px;
}

#statusbar {
    position: fixed;
    width: 100%;
    height: 22px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    font-size: 14px;
}

#statusbar.ready,
#tab-panel .tabs-tab.active {
    background-color: #007ACD;
}

#statusbar.waiting {
    background-color: #67217A;
}

#statusbar.onsortie,
#tab-panel.onsortie .tabs-tab.active,
.box-header.onsortie {
    background-color: #CA5100;
}

#left-block {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

#right-block-a,
#right-block-b,
#right-block-c {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

#right-block-a {
<<<<<<< HEAD
    flex: 0 0 48px;
}

#right-block-b {
=======
>>>>>>> Day 2
    flex: 0 0 128px;
}

#admiral-info-left,
#admiral-info-right {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

#admiral-info-left {
    margin-right: 16px;
}

#admiral-info-right {
    justify-content: center;
    flex: 0 0 128px;
}

#admiral-nameplate {
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.hq-small {
    height: 25%;
    font-size: 12px;
    color: #AAAAAA;
}

#admiral-name {
    margin-right: 8px;
    font-size: 24px;
    vertical-align: middle;
}

#admiral-rank {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 11px;
    color: #CCCCCC;
}

#admiral-comment {
    height: 25%;
    font-size: 12px;
    color: #AAAAAA;
}

#admiral-hq {
    width: 100%;
}

#hq-lv-xp td {
    width: 50%;
}

<<<<<<< HEAD
#hq-xp,
#shipgirls-max,
#equip-max,
.box-header-text {
=======
#hq-xp {
>>>>>>> Day 2
    font-size: 11px;
    color: #AAAAAA;
    text-align: right;
}

#hq-xp, #admiral-level {
    vertical-align: text-bottom;
}

#xpbar {
    background-color: #424242;
    min-width: 150px;
    max-width: 100%;
    height: 6px;
    overflow: hidden;
}

#xpbar-fg {
    background-color: #AAAAAA;
    width: 50%;
    height: 6px;
    z-index: 3;
    float: left;
}

<<<<<<< HEAD
table#resources-a,
table#girls-equip {
    height: 100%;
}

table#resources-a td,
table#girls-equip td {
    vertical-align: middle;
}

table#resources-a td.icon,
table#girls-equip td.icon {
=======
table#resources-a {
    height: 100%;
}

table#resources-a td {
    vertical-align: middle;
}

table#resources-a td.icon {
>>>>>>> Day 2
    height: 16px;
    width: 16px;
    text-align: center;
}

<<<<<<< HEAD
table#resources-a td[id$="-amount"],
table#girls-equip td[id$="-amount"] {
=======
table#resources-a td[id$="-amount"] {
>>>>>>> Day 2
    padding-left: 4px;
    padding-right: 8px;
}

<<<<<<< HEAD
table#resources-a img,
table#girls-equip img {
=======
table#resources-a img {
>>>>>>> Day 2
    height: 16px;
}

table#buttons td {
    vertical-align: middle;
    text-align: center;
    height: 100%;
    padding: 3px;
}

table#buttons td img {
    width: 48px;
    height: 48px;
}

.panel-content {
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    top: 64px;
    bottom: 22px;
    left: 96px;
    right: 0;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
}

.panel-content .tile-box {
    margin: 0 8px 8px 8px;
    padding: 0;
    display: flex;
    background-color: #222222;
    flex-flow: column wrap;
}

.box-header {
    min-height: 18px;
    max-height: 18px;
    background-color: #2D2D2D;
    text-transform: uppercase;
    min-width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    position: sticky;
    padding-left: 8px;
    margin: 0;
}

.box-content {
    overflow: hidden auto;
}

.fleetpanel.tile-box {
    width: 350px;
    height: calc(100% - 8px);
    flex-flow: column nowrap;
}

#tab-panel {
    top: 64px;
    bottom: 22px;
    width: 96px;
    background-color: #333333;
    position: fixed;
    overflow: hidden auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: space-between;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #424242; 
}

.tabs-tab,
#btn-stratroom {
    width: inherit;
    min-width: inherit;
    height: 36px;
    max-height: 36px;
    display: table;
    background-color: #333333;
    cursor: pointer;
    margin: 0;
    font-size: 14px;
    line-height: 12px;
}

.tabs-tab:not(.active):hover,
#btn-stratroom:hover {
    filter: brightness(1.25);
}

#btn-stratroom .liner {
    font-size: 12px;
    line-height: 11px;
}

.spacer {
    min-height: 0;
    max-height: 100%;
    flex: 15 15 48px;
}

.spacer-h {
    min-width: 0;
    max-width: 100%;
    flex: 15 15 48px;
}

.tabs-tab span,
#btn-stratroom > div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
}

#btn-stratroom > div {
    text-transform: uppercase;
    font-size: 12px;
    color: #AAAAAA;
}

#btn-stratroom img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

table#status {
    vertical-align: middle;
    border: 0;
    height: 100%;
    width: 100%;
}

table#status tr td {
    padding-left: 8px;
}

.tile-box .shipboxes {
    flex: 1 1 auto;
    padding: 4px 8px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden auto;
}

.shipbox .shipicon {
    width: 46px;
    height: 46px;
    float: left;
    border-radius: 50%;
    background: #007ACD;
    margin-right: 4px;
}

.shipbox .shipicon img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
    image-rendering: auto;
}

.midbox {
    display: flex;
    align-items: center;
    margin-left: 4px;
    width: 100%;
    flex-flow: column wrap;
    align-items: flex-start;
}

.shipclass {
    text-transform: uppercase;
    padding: 1px 2px;
    height: 6px;
    width: 30px;
    text-align: center;
    background-color: #424242;
    color: #CCCCCC;
    font-size: 10px;
    display: table;
    float: left;
}

.shipname {
    font-size: 16px;
    margin-left: 4px;
}

.ship-suffix {
    color: #AAAAAA;
    font-size: 12px;
}

.morale {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: flex-end;
}

.moraledot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
}

.moraledot.morale-great {
    background-color: #FFEE00;
}

.moraledot.morale-good {
    background-color: #FFF89D;
}

.moraledot.morale-normal {
    background-color: #FFFFFF;
}

.moraledot.morale-bad {
    background-color: #FFAB73;
}

.moraledot.morale-verybad {
    background-color: #FF4747;
}

.morale-value {
    font-size: 10px;
    color: #CCCCCC;
}

.shipbox {
    display: flex;
    min-width: 100%;
    margin: 0 0 8px 0;
}

.nameplate {
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 10;
    height: 16px;
    margin-bottom: 4px;
}

.midbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 8px;
    overflow: hidden;
    margin-bottom: 4px;
    position: relative;
}

.hpbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 8px;
    overflow: hidden;
    margin-bottom: 2px;
    flex: 1 1 auto;
    position: relative;
}

.hpbar-bg {
    background-color: #424242;
    flex: 1 1 auto;
    height: 8px;
    overflow: hidden;
    position: relative;
}

.hpbar-text {
    color: #CCCCCC;
    font-size: 10px;
    z-index: 4;
    text-align: right;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2px;
}

.hpbar-fg {
    background-color: #AAAAAA;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: inherit;
    z-index: 3;
    float: left;
    transition: width 250ms ease-out, background-color 250ms ease-out;
}

.hpbar-fg.hp-full {
    align-items: center;
    background-color: #35b877;
    width: 100%;
}

.hpbar-fg.hp-ok {
    align-items: center;
    background-color: #4dc060;
    width: 87%;
}

.hpbar-fg.hp-shouha {
    align-items: center;
    background-color: #fffd6c;
    width: 75%;
}

.hpbar-fg.hp-chuuha {
    align-items: center;
    background-color: #ff8a47;
    width: 50%;
}

.hpbar-fg.hp-taiha {
    align-items: center;
    background-color: #FF4747;
    width: 25%;
}

.equips {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height:18px;
}

.equip-slot {
    display: inline-block;
    margin-right: 4px;
}

.equip-slot.slot-locked {
    display: none;
    visibility: hidden;
}

.equip-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #2D2D2D;
    display: inline-block;
}

.equip-icon img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: contain;
    display: block;
}

.equip-cap {
    font-size: 8px;
    color: #AAAAAA;
    display: inline-block;
}

.statbox {
    margin-left: 4px;
    width: 64px;
}